*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signup{
  width: 100px;
  position: relative;
  margin-top: 20%;
  margin-left: 40%;
}
.login{
  width: 100px;
  position: relative;
  margin-top: 20%;
}